<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include templates/header.ejs %>
    <h1><%= title %></h1>
    <p><%= points %></p>

    <p><%= videodata.categoryName %></p>

    <ul>
        <% videodata.categories.forEach(function (item) { %>
        <li><a href="https://thenewboston.com/videos_food.php?cat=<%= item.categoryID %>" target="_blank"><%= item.categoryName %></a></li>
        <% }); %>
    </ul>
  </body>
</html>
